.hanko-circle {
	display: flex;
	justify-content: center;
	border-style: solid;
	border-radius: 50%;
	height: 80%;
	width: 80%;
}

.hanko-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
